In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
dataset = pd.read_csv("train.csv")
print(dataset.head(5))
n = dataset.shape[0]
n

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

891

In [6]:
sex = dataset["Sex"].to_numpy().reshape(1,n)
age = dataset["Age"].to_numpy().reshape(1,n)
embark = dataset["Embarked"].to_numpy().reshape(1,n)
fare = dataset["Fare"].to_numpy().reshape(1,n)
y = dataset["Survived"].to_numpy().reshape(1,n)

In [17]:
dataset["Sex"].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [13]:
pd.

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()